<section class="todoapp">
  <header class="header">
    <h1 class="display-1 text-center">Todos</h1>
  </header>
  <section class="main">
    <ul class="list-group todo-list">
      <li class="list-group-item">
        <input class="form-control form-control-lg new-todo"
          autofocus="autofocus" autocomplete="off"
          d3-attr-placeholder="placeholder"
          d3-on-keyup="$addTodo()"
          d3-value="newTodo">
      </li>
      <li class="list-group-item info">
        <span class="todo-count" d3-html="left"></span>
        <a d3-if="done"
          class="clear-completed float-right"
          href="#"
          d3-on="$clear()">Clear completed</a>
      </li>
      <li class="list-group-item todo" d3-for="item in todos" data-transition-duration=500>
        <div class="input-group view">
          <span class="input-group-addon">
            <input type="checkbox" class=="toggle" d3-on="$toggle(item)">
          </span>
          <input type="text"
            class="form-control form-control-lg"
            d3-class="item.done ? 'done' : null"
            d3-attr-value="item.text"
            d3-attr-readOnly="!item.edit"
            d3-on-dblclick="$edit(item)"
            d3-on-keyup="$doneEdit(item)">
        </div>
      </li>
    </ul>
  </section>
</section>
