<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='goview.css') }?version={{ version }}" media="all" rel="stylesheet" />
    <script src="assets/es6-promise.auto.min.js" type="application/javascript"></script>
    <script src="assets/fetch.js" type="application/javascript"></script>
    <script async src="url_for('static', filename='require-goview.js')?version={{ version }}" type="application/javascript"></script>
</head>
<body>
</body>
</html>
